<!-- <div class="container chatBox">
  <div class="col-md-4">

  </div>
  <div class="col-md-8">
    <div class="row" *ngFor="let message of messages">
      <p>
        {{message?.message}}  {{message?.from}}
      </p>
    </div>
    <div class="row" style="padding:2%;position:absolute;bottom:0;width:100%;">
      <input type="text" [(ngModel)]="input" style="display:inline-block;width:89%">
      <button class="btn btn-primary" (click)="sendMessage()" style="display:inline-block;width:10%">Send</button>
    </div>
  </div>
</div> -->

<div class="container">
  <div class="toolbar">
    <div class="header-title">
      Chat-App
    </div>
    <div class="ara">
      <input class="form-control mr-sm-2 search-friends" type="search" placeholder="Arkadaşlarını Bul" aria-label="Search">
    </div>
    <div class="icon">
      <i class="fa fa-search" style="color:white; float:right; font-size:35px; margin-top:8px;"></i>
    </div>
  </div>
  <div class=" panel-box ">
    <div class="row ">
      <div class="col-md-4 ">
        <app-friendship-box (activatedFriendOutput)="changeActivatedFriend($event)"></app-friendship-box>
      </div>
      <div class="col-md-8 ">
        <app-message-box [activatedFriend]="activatedFriend"></app-message-box>
      </div>
    </div>
  </div>
</div>
