<div class="container">
  <div class="toolbar">
    <div class="header-title">
      Chat-App
    </div>
    <div class="ara">
      <input class="form-control mr-sm-2 search-friends" type="search" placeholder="Arkadaşlarını Bul" aria-label="Search">
    </div>
    <div class="icon">
      <i class="fa fa-search" style="color:white; float:right; font-size:35px; margin-top:8px;"></i>
    </div>
  </div>
  <div class=" panel-box ">
    <div class="row ">
      <div class="col-md-4 col-sm-12 " >
        <app-friendship-box (activatedFriendOutput)="changeActivatedFriend($event)"></app-friendship-box>
      </div>
      <div class="col-md-8 col-sm-12 " >
        <app-message-box [activatedFriend]="activatedFriend"></app-message-box>
      </div>
    </div>
  </div>
</div>
