.notifications {
  margin: 5px 10px;
  right: 0;
  margin-right: 20px;
  margin-top: 15px;
  top: 0;
  position: absolute;
  border: 0;
  border-radius: 0;
  height: 50px;
  display: inline-block;
  color: white;
}

.notifications span {
  width: 18px;
  height: 18px;
  border-radius: 30%;
  background-color: rgb(184, 0, 0);
  position: absolute;
  left: 0;
  top: 0;
  font-size: 13px;
  font-weight: bolder;
  margin-left: -5px;
  margin-top: -5px;
  text-align: center;
}

.notifications i {
  font-size: 25px;
  transition: transform 0.2s ease-out;
  transition: color 0.2s ease-out;
}

.notifications i:hover {
  transform: scale(1.5);
}

.notifications i.activated {
  color: #104f62;
}
