<div class="chat-box " *ngIf="_activatedFriend">

  <div class="friend-details ">
    <div class="friend-details--picture" [style.background-image]="_activatedFriend.avatar ? 'url(' + _activatedFriend.avatar + ')' : inherit">
      <div class="letter-avatar" *ngIf="!_activatedFriend.avatar">
        {{_activatedFriend.firstname | titlecase | slice:0:1}}
      </div>
    </div>
    <div class="friend-details--info ">

      <div class="friend-details--info--username ">
        {{_activatedFriend.firstname | titlecase}} {{_activatedFriend.lastname | titlecase}}
      </div>
      <div class="friend-details--info--status" [class.online]="_activatedFriend.status == 'online'" [class.offline]="_activatedFriend.status == 'offline'">
        {{_activatedFriend.status | titlecase}}
      </div>
    </div>

  </div>


  <div #scrollMe [scrollTop]="scrollMe.scrollHeight" class="messages ">

    <div class="div" *ngFor="let message of messages">
      <div class="message" [class.message-sent]="_activatedFriend?._id != message.from" [class.message-received]="_activatedFriend?._id == message.from">

        <div class="username ">
          <div class="name">
            <div *ngIf="_activatedFriend?._id != message.from">
              {{me.firstname}}
            </div>
            <div *ngIf="_activatedFriend?._id === message.from">
              {{_activatedFriend.firstname}}
            </div>
          </div>

          <div class="date-and-status">
            <div class="status" *ngIf="_activatedFriend?._id != message.from">
              <i class="fas readed" [class.fa-check]="!message.isRead" [class.fa-check-double]="message.isRead" [class.readed]="message.isRead"></i>
            </div>
            <div class="date"> {{message.createdAt | date:'HH:mm'}}</div>
          </div>


        </div>
        <br>
        <div class="content "> {{message.content}} </div>
        <div class="clearfix "></div>

      </div>
      <div class="clearfix "></div>
    </div>
  </div>


  <div class="message-sender ">

    <div class="form-group ">
      <input style=" width:84%; display:inline-block; " [(ngModel)]="input " type="text " class="form-control" placeholder="Enter a Message Here... ">
      <button style="width:14%; display:inline-block; " class="btn btn-info " (click)="sendMessage() ">Send</button>
    </div>
  </div>
</div>

<div class="chat-box no-chat" *ngIf="!_activatedFriend?._id">
  <h3>
    Sohbet Başlatmak İçin Bir Arkadaş Seçin.
  </h3>
</div>
