<div class="notifications-tab">
  <div class="user-card" *ngFor="let notification of notifications">
    <div class="user-card--picture" [style.background-image]="notification.from.avatar ? 'url(' + notification.from.avatar + ')' : inherit">
      <div class="letter-avatar" *ngIf="!notification.from.avatar">
        {{notification.from.firstname | titlecase | slice:0:1}}
      </div>
    </div>
    <div class="notification-content">
      {{notification.content}}
    </div>
  </div>
<div class="btn btn-primary"(click)="arttir()">Tıkla</div>
</div>

