.notifications-tab {
  padding-left: 12px;
  padding-right: 12px;
}

.notification-card--picture {
  background-color: #196278;
  margin-top: 7px;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 10%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.notification-card--picture .letter-avatar {
  padding-left: 1px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #f8fdff;
  font-weight: bolder;
  padding-top: 3px;
  margin: 0;
  text-align: center;
  font-size: 21px;
}

.notification-content {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 200;
  color: #5a5a5a;
  margin: 5px 10px;
  position: absolute;
  border: 0;
  border-radius: 0;
  height: 50px;
  display: inline-block;
}

.notification-card {
  height: 70px;
  padding: 4px;
  border-bottom: 1px solid rgb(235, 235, 235);
}
