.notifications-tab {
  padding-left: 12px;
  padding-right:12px;

}

.notification-card--picture {
  background-color: #196278;
  margin-top: 7px;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.notification-card--picture .letter-avatar {
    padding-left: 1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #f8fdff;
    ;
    font-weight: bolder;
    padding-top: 3px;
    margin: 0;
    text-align: center;
    font-size: 10px;
  }

.notification-content {
  padding-top: 15px;
  margin: 5px 10px;
  position: absolute;
  border: 0;
  border-radius: 0;
  height: 50px;
  display: inline-block;
}

.notification-card {
  height: 70px;
  padding: 4px;
  border-bottom: 1px solid rgb(235, 235, 235);
}
