<div class="friends">
  <div *ngFor="let friend of friends" (click)="toggleActivatedFriend(friend._id)" [class.activated]="friend._id == activatedFriend">
    <div class="user-card ">
      <div class="user-card--picture " [style.background-image]="friend.avatar ? 'url(' + friend.avatar + ')' : inherit">
        <span class="badge badge-success" *ngIf="friend.unReadedMessagesCount > 0">{{friend.unReadedMessagesCount}}</span>
        <div class="letter-avatar" *ngIf="!friend.avatar">
          {{friend.firstname | titlecase | slice:0:1}}
        </div>
      </div>
      <div class="user-card--info ">
        <div class="user-card--info--name ">
          {{friend.firstname | titlecase}}
          {{friend.lastname | titlecase}}
        </div>
        <div class="user-card--info--status" [class.online]="friend.status == 'online'" [class.offline]="friend.status == 'offline'">
          {{friend.status | titlecase }}
        </div>
        <div class="user-card--info--about ">
          {{friend.about | slice:0:40}} ...
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
