/* You can add global styles to this file, and also import other style files */

@media (max-width: 1080px) {
  .container {
    min-width: 100%;
  }
  .toolbar {
    display: none;
    padding: 0;
    margin: 0;
  }
  .col-md-4 {
    padding: 0;
  }
  .col-md-8 {
    padding: 0;
  }
  app-navbar {
    display: none;
  }
  .panel-box {
    margin-top: 0 !important;
  }
}

html {
  overflow: auto;
}

body {
  position: absolute;
  top: 0;
  left: 0px;
  bottom: 0px;
  right: 0px;
  overflow-x: hidden;
  background-color: rgb(240, 240, 240);
}

/* Let's get this party started */

/* Track */

.chat-box {
  background-color: white;
  border-radius: 25px 25px 10px 10px;
  -moz-border-radius: 25px 25px 10px 10px;
  -webkit-border-radius: 25px 25px 10px 10px;
  border: 0px solid #000000;
  overflow: hidden;
  -webkit-box-shadow: -1px 6px 23px -5px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: -1px 6px 23px -5px rgba(0, 0, 0, 0.33);
  box-shadow: -1px 6px 23px -5px rgba(0, 0, 0, 0.33);
  height: 700px;
  /* padding-bottom: 100px; */
}

.panel-box {
  margin-top: 20px;
}

clearfix::after {
  display: block;
  content: "";
  clear: both;
}

/* .stick-bottom {
  padding: 2%;
  margin: 0;
  width: 100%;
  position: absolute;
  bottom: 0;
} */

.messages {
  width: 100%;
  margin: 0;
  padding: 2%;
  height: 570px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.message-sender {
  background-color: #5bc0de;
  height: 60px;
  padding: 0 2%;
  padding-top: 1.5%;
}

.message {
  min-width: 130px;
  font-size: 14px;
  padding: 1% 2%;
  margin: 5px 1%;
  border-radius: 10px;
  width: fit-content;
  -webkit-box-shadow: -1px 6px 23px -5px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: -1px 6px 23px -5px rgba(0, 0, 0, 0.33);
  box-shadow: -1px 6px 23px -5px rgba(0, 0, 0, 0.33);
}

.username {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: bold;
}

.message-sent .username {
  color: black;
}

.message-sent .username .name {
  float: right;
}

.message-sent .username .date {
  font-weight: lighter;
  font-size: 10px;
}

.message-received .username {
  color: black;
}

.message-received .username .name {
  float: left;
}

.message-received .username .date {
  float: right;
  font-weight: lighter;
  font-size: 10px;
}

.content {
  float: inherit;
  text-align: justify;
  margin: 0;
  padding: 0;
}

.message-sent {
  color: black;
  background-color: #dffdf6;
  border: 1px solid rgb(238, 238, 238);
  float: right;
}

.message-received {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(238, 238, 238);
  float: left;
}

.friend {}

.friend-details {
  border: 0px solid #000000;
  background: #5bc0de;
  position: relative;
  height: 70px;
  padding: 1.5%;
  -webkit-box-shadow: -1px 6px 23px -5px rgba(216, 216, 216, 0.33);
  -moz-box-shadow: -1px 6px 23px -5px rgba(238, 238, 238, 0.33);
  box-shadow: -1px 6px 23px -5px rgba(201, 201, 201, 0.33);
}

.friend-details--picture {
  border: 1px solid #34849d;
  background-color: #196278;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.my-picture {
  border: 1px solid #55bcdc;
  background-color: #56a9c2;
  /* background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNp031J6HgGIgGcHeD5ozeg2Kc2V3bVFbiLCZk2nwFOOzVp-Jk'); */
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.my-picture .letter-avatar {
  padding-left: 2px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  letter-spacing: 1px;
  color: #f8fdff;
  ;
  font-weight: bolder;
  padding-top: 3px;
  margin: 0;
  text-align: center;
  font-size: 35px;
}

.letter-avatar {
  padding-left: 1px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #f8fdff;
  ;
  font-weight: bolder;
  padding-top: 3px;
  margin: 0;
  text-align: center;
  font-size: 21px;
}

.friend-details--picture .letter-avatar {
  padding-left: 2px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  letter-spacing: 1px;
  color: #f8fdff;
  ;
  font-weight: bolder;
  padding-top: 5px;
  margin: 0;
  text-align: center;
  font-size: 25px;
}

.my-info {
  margin: 5px 10px;
  position: absolute;
  border: 0;
  border-radius: 0;
  height: 50px;
  display: inline-block;
  color: white;
}

.my-username {
  font-size: 20px;
  font-weight: bold;
}

.my-about {
  font-size: 15px;
  font-weight: lighter;
}

.friend-details--info {
  margin: 5px 10px;
  position: absolute;
  border: 0;
  border-radius: 0;
  height: 50px;
  display: inline-block;
}

.friend-details--info--username {
  color: white;
  font-size: 17px;
  font-weight: bold;
}

.friend-details--info--status {
  font-size: 11px;
  font-weight: lighter;
}

.friend-details--info--status.online {
  color: rgb(168, 255, 168);
}

.friend-details--info--status.offline {
  color: rgb(0, 0, 0);
}

.friends-box--content {}

.user-card {
  height: 70px;
  padding: 4px;
  border-bottom: 1px solid rgb(235, 235, 235);
  position: relative;
}

.user-card--picture {
  background-color: #196278;
  margin-top: 7px;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.user-card--picture span {
  border-radius: 50%;
  background-color: rgb(1, 230, 66);
  position: absolute;
  right: 0;
}

.user-card--info {
  padding-top: 2px;
  margin: 5px 10px;
  position: absolute;
  border: 0;
  border-radius: 0;
  height: 50px;
  display: inline-block;
}

.user-card--info--name {
  display: inline-block;
  color: rgb(78, 78, 78);
  font-size: 13px;
  font-weight: bold;
}

.user-card--info--status {
  display: inline-block;
  font-size: 12px;
  font-weight: lighter;
}

.user-card--info--status.online {
  color: rgb(0, 231, 0);
}

.user-card--info--status.offline {
  color: rgb(172, 24, 24);
}

.user-card--info--about {
  color: gray;
  font-size: 14px;
  font-weight: lighter;
  text-align: justify;
}

.user-card.activated .user-card--info--name {
  color: rgb(255, 255, 255);
  font-size: 15px;
}

.user-card.activated .user-card--info--status.online {
  color: rgb(70, 255, 70);
}

.user-card.activated .user-card--info--about {
  color: rgb(255, 255, 255);
}

.user-card.activated {
  color: white;
  background: #07a1d0;
  -webkit-box-shadow: -1px 6px 23px -5px rgba(216, 216, 216, 0.33);
  -moz-box-shadow: -1px 6px 23px -5px rgba(238, 238, 238, 0.33);
  box-shadow: -1px 6px 23px -5px rgba(201, 201, 201, 0.33);
}

.toolbar {
  border-radius: 100px 100px 100px 100px;
  -moz-border-radius: 100px 100px 100px 100px;
  -webkit-border-radius: 100px 100px 100px 100px;
  border: 0px solid #000000;
  border: 0px solid #000000;
  margin-top: 20px;
  background-color: #5bc0de;
  height: 50px;
}

.search-friends {
  border-radius: 100px 100px 100px 100px;
  -moz-border-radius: 100px 100px 100px 100px;
  -webkit-border-radius: 100px 100px 100px 100px;
  width: 20%;
  float: right;
  margin-top: 5px;
}

.options {
  padding-bottom: 10px;
}

.options--friends {
  display: inline-block;
  width: 30%;
  text-align: center;
  cursor: default;
}

.options--requests {
  display: inline-block;
  width: 35%;
  text-align: center;
  cursor: default;
}

.options--search {
  display: inline-block;
  width: 30%;
  text-align: center;
  cursor: default;
}

.option:hover {
  border-radius: 10px 0px 100px 100px;
  -moz-border-radius: 10px 0px 100px 100px;
  -webkit-border-radius: 10px 0px 100px 100px;
  border: 0px solid #000000;
  color: white;
  font-weight: bold;
  border: 0px solid #000000;
  background: #23677b;
  position: relative;
  -webkit-box-shadow: -1px 6px 23px -5px rgba(216, 216, 216, 0.33);
  -moz-box-shadow: -1px 6px 23px -5px rgba(238, 238, 238, 0.33);
  box-shadow: -1px 6px 23px -5px rgba(201, 201, 201, 0.33);
}

.option.activated {
  border-radius: 10px 0px 100px 100px;
  -moz-border-radius: 10px 0px 100px 100px;
  -webkit-border-radius: 10px 0px 100px 100px;
  border: 0px solid #000000;
  color: white;
  font-weight: bold;
  border: 0px solid #000000;
  background: #3aa0bf;
  position: relative;
  -webkit-box-shadow: -1px 6px 23px -5px rgba(216, 216, 216, 0.33);
  -moz-box-shadow: -1px 6px 23px -5px rgba(238, 238, 238, 0.33);
  box-shadow: -1px 6px 23px -5px rgba(201, 201, 201, 0.33);
}

.header-title {
  margin: 3px;
  margin-left: 20px;
  float: left;
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.chat-box.no-chat {
  background-color: rgb(238, 238, 238);
  text-align: center;
  position: relative;
}

.chat-box.no-chat h3 {
  color: rgb(189, 189, 189);
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
